.btnn {
  color: rgb(247, 242, 242);
  padding: 0 30px;
  display: inline-block;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
}
.btn-blue {
  background-color: var(--blue);
  border: 1px solid black;
}
.btn-dark {
  background-color: var(--dark);
}

.btn-blue-outline {
  color: var(--white);
  border: 1px solid var(--white);
  background-color: transparent;
}
.btn-yello-outline {
  color: var(--blue);
  border: 1px solid var(--blue);
  background-color: transparent;
}

.btn-yello {
  background-color: var(--blue);
  color: black;
  border: 1px solid var(--blue);
}
.btn-blue-outline {
  color: var(--white);
  border: 1px solid var(--white);
  background-color: transparent;
}
.btn-yello-outline {
  color: var(--blue);
  border: 1px solid var(--blue);
  background-color: transparent;
}
