.list {
  list-style-type: none;
  margin: 50px;
  width: 200px;
  text-align: center;
  border: 1px solid black;
  overflow: hidden;
}
.list-item {
  border-bottom: 1px solid black;
  padding: 10px 15px;
}
.list-item:last-child {
  border-bottom: none;
}
.list-hover .list-item:hover {
  background: var(--gray-hover);
}
.list-item.active {
  background: var(--gray-hover);
}
.list-item:nth-child(even) {
  background: #f9f4f4;
}
