@import url("./_variables.css");

@import url("./_global.css");

@import url("./_utilities.css");

@import url("./component/_btn.css");
@import url("./component/_text.css");
@import url("./component/_table.css");
@import url("./component/_list.css");
@import url("./component/_menu.css");
@import url("./component/_card.css");
.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0px;
  width: 50px;
}
